.wrapperInputSearch {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 2px;
  padding: 24px 0px;
  height: auto;
  display: flex;
}

.filtersGroup {
  display: none;
  margin-top: 12px;
  background: #F3F2F3;
  padding: 12px;
}

.filterShow {
  display: block;
}

.margin-sides10 {
  margin: 0 10px;
}